react
@radix-ui/react-accordion
lucide-react
@radix-ui/react-alert-dialog
class-variance-authority
@radix-ui/react-aspect-ratio
@radix-ui/react-avatar
@radix-ui/react-slot
react-day-picker
embla-carousel-react
recharts
@radix-ui/react-collapsible
cmdk
@radix-ui/react-context-menu
@radix-ui/react-dialog
vaul
@radix-ui/react-dropdown-menu
@radix-ui/react-label
@radix-ui/react-hover-card
input-otp
@radix-ui/react-menubar
@radix-ui/react-navigation-menu
@radix-ui/react-popover
@radix-ui/react-progress
@radix-ui/react-radio-group
react-resizable-panels
@radix-ui/react-scroll-area
@radix-ui/react-select
@radix-ui/react-separator
@radix-ui/react-slider
next-themes
sonner
@radix-ui/react-switch
@radix-ui/react-tabs
@radix-ui/react-toggle-group
@radix-ui/react-toggle
@radix-ui/react-tooltip
